/******** 
* RESET *
*********/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* aggiungere favicon
rifare footer
sistemare font
scorporare crea playlist dalle playlist */


/********** 
* DEBUG *
***********/
.bordered{
    border: 1px dashed red;
    
}





/********** 
* UTILITY *
***********/


.container{
    padding: 0 1.5rem;
    
    
   
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
   
    
}

.col{
    padding-bottom: 40px;
    width: calc(100% / 6 - 10px);
    text-align: center; 
}

.card:hover img{
    filter: sepia(10);
    
}




main, footer{
    font-family: 'Akatab', sans-serif;
    font-family: 'Bagel Fat One', cursive;
    font-family: 'Concert One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;

}


ul, li{
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5rem;
    font-weight: bold;
}

h6{
    color: #737373;
}


/******** 
* MAIN *
*********/





/************* 
*  SIDEBAR   *
**************/

.logo img{
    width: 150px;
    margin-bottom: 30px;
   
}

.icon-nav{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-nav span{
    display: inline-block;
}

.icon-nav img{
    width: 30px;
    display: block;
}

.playlist{
    overflow: auto;
}

.playlist h3{
    color: white;
    padding-top: 20px;
    margin-bottom: 10px;
    
}

#square .fa-solid{
    font-size: 50px;
    margin-right: 5px;
}

#square i{
    vertical-align: middle; 
}
    

.install-app{
    display:flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}
    
    

.user{
    display: flex;
    align-items: center;
    gap: 10px;
}



.install-app img{
    width: 20px;
    display: block;    
}


.img-user{
    background-color: grey;
    border-radius: 50%;
    aspect-ratio: 1;
    height: 30px;
    overflow: hidden;
}
    

.img-user> img{
    
    object-fit: cover; 
}

.user h4{
    color: white;
}

#logo-small{
    width: 40px ;
    display: none;
}


/*************** 
* MAIN CONTENT *
****************/

#main{
    display: flex;
    height: calc(100vh - 100px);  
}


nav{
    min-width: 250px;
    height: calc(100vh - 100px);
    background-color: #000000;
    color: #505050;
}
    
    

.container-nav{
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    height: 100%;
    gap: 10px;
}
    
    
.col img{
    width: 100%;
}



/* ALBUM */


#album{
    overflow: auto;
    height: 100%;
    
}
    
    


.musical-categories{
    padding: 40px 0; 
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    color:#737373;
}

.musical-categories> h5{
    width: calc(100% / 6 - 20px);
    text-align: center;
}

.title-main{
    margin-bottom: 1.5rem;
    line-height: 1.5rem;

}

.container h2{
    color: white;
}

.col h5{
    color: white;
    margin: 10px;
   
}

.img-circle{
    border-radius: 50%;
    aspect-ratio: 1;
    overflow: hidden;    
}

/************* 
* HEADER *
**************/

.main-content{
    flex-grow: 1;
    background-color: #141922;
    
}



#header{
       
    background-color: rgba(0, 0, 0, 0.6);
    position: sticky;
    width: 100%;
    height: 100px;
    z-index: 10;
    text-align: right;
    line-height: 100px;
    padding: 0 0.5rem;
}


#button-header{
    color:white;
    background-color: black;
    border: 2px solid;
    border-radius: 20px;
    padding:  10px  30px;
}






/*************** 
*    FOOTER    *
****************/

#footer{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 10px 10px;

    background-color: #282828;
    color: white;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 11;
}

.img-footer{
    height: 50px;
}

#footer .col{
    display: flex;
    align-items: center;
    

}

.col.song{
    gap: 5px;
    min-width: 150px;
}




.icon{
    display: flex;
    align-items: center;
    gap: 15px;

}


.col.player{
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
    max-width: 500px;
}



.icon.middle{
    gap: 30px;
}

.bar-player{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    
    
}

.bar{
    height: 5px;
    border-radius: 15px;
    background-color: grey;
    width: 80%;
}

 
.bar.progress{
    width: 30%;
    background-color: lightgray;
}


.time-bar{
    font-size: x-small;
}


.col.sound{
    min-width: 150px;
    gap: 10px;
}





/************* 
* RESPONSIVE * 
X-Small <576px - Small >576px - Medium >768px - Large >992px
**************/

/* ***MEDIUM*** */

@media screen and (max-width: 991px){
    .col{
        width: calc(100% / 4 - 10px);
        
    }

    .musical-categories{
        padding: 40px 0; 
        width: 100%;
          
    }
    
    .musical-categories> h5{
        width: calc(100% / 5 - 20px);
        margin-bottom: 2rem;
    }
}




/* ***SMALL** */

@media screen and (max-width: 767px){


    /* ALBUM */

    .col{
        width: calc(100% / 2 - 10px);
        
    }

    #footer{
        gap: 10px;
    }

    

    .img-footer{
        height: 40px;
    }

    .icon.left{
        flex-direction: column;
        gap: 5px;
        margin-left: 10px;
    }

    
    .musical-categories> h5{
        width: calc(100% / 3 - 20px);
        
    }

}



/* *** X-SMALL*** */

@media screen and (max-width: 575px) {
    
    /* NAVBAR */

    nav{
        min-width: 50px;
    }

    .container-nav{
        padding: 5px;
        align-items: center;
    }


    #logo-full,
    #navbar .playlist,
    #navbar h4,
    #navbar h5,
    #navbar h6
    {
        display: none;
    } 


    

    .install-app{
        
        border-bottom: none;        
    }

    #logo-small{
        display: block;
        margin-bottom: 5px;
    }


    /* ALNUM */

    .musical-categories> h5{
        width: calc(100% / 4 - 20px);
        margin-bottom: 2rem;
    }

    /* FOOTER */
    
    #footer{
        gap: 0px;
    }
    
    .img-footer{
        height: 40px;
    }
}









    