/******** 
* RESET *
*********/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul> li{
    list-style-type: none;
}

/********** 
* DEBUG *
***********/
main> *{
    border: 2px dashed red;
    min-height: 250px;
}

footer> *{
    border: 2px dashed red;
    height: 100px; 
    
}

footer .col{
    border: 2px dashed red;
    
}


/********** 
* UTILITY *
***********/

.container{
    padding: 0 1rem
}

.row{
    margin: 0 -1rem;
}

.col{
   
}

 .text{
    font-weight: bold;
    color: white;
}

.text .xsmall{
    font-size: small;
}

.text .small{
font-size: small;
}


.album> .name-song {
    color: #7F7F7F;
    white-space: nowrap;
}



/******** 
* MAIN *
*********/

main{
    display: flex;

}




/************* 
*  SIDEBAR   *
**************/

#sidebar{
    height: calc(100vh - 100px);
    width: 200px;
}





/*************** 
* MAIN CONTENT *
****************/

.main-content{
    
    flex-grow: 1;
}


/************* 
* HEADER *
**************/

#header{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    z-index: 10;
    height: 100px;
}



/*************** 
*    FOOTER    *
****************/

footer{
    background-color: #282828;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

#footer> .container *{
    font-size: x-small;
}

#footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 992px;
    margin: 0 auto;
    gap: 50px;
}


#footer .col{
    display: flex;
    height: 70%;
    
}

#footer .col:nth-of-type(odd){
    width: 30%;
}

/* col-left */

#footer .col.left{
    display: flex;
    justify-content: space-between;
}


#footer .song{
    display: flex;
    justify-content: start;
    width: 70%; 
    gap: 5px; 
   
}


#footer .img-song{
    width: 70px; 
}

#footer .img-song> *    {
    height: 100%;
    display: block;
}

 .album{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 50%;
    
    
}

 .col.left .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7F7F7F;
    gap: 10px;
    width: 50%;
}


/* col-middle */

.col.middle{
    flex-grow: 1;
    
    
}

.col.middle{    
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
        
}

.player> ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.player #play> *{
    font-size: 1.5rem;
    text-align: center;  
}

.time-bar{
    display: flex;
    align-items: center;
    gap: 15px;
    
    
}

.time-bar .bar{
    flex-grow: 1;
    height: 5px;
    border-radius: 15px;
    background-color: #7F7F7F;
}

.bar> .bar.minute{
    width: 40%;
    background-color: #c1c1c1; 
}

.col.rigth{
    display: flex;
    justify-content: right;
    align-items: center;
}


.bar-sound{
    width: 50%;
    height: 5px;
    margin-left: 14px;
    border-radius: 20px;
    background-color: #7F7F7F;
}

.bar-sound> .bar-volume{
    width: 30%;
    height: 100%;
    border-radius: 15px;
    background-color: #c1c1c1;

}



/************* 
* RESPONSIVE * 
X-Small <576px - Small ≥576px - Medium ≥768px - Large ≥992px
**************/

/* ***LARGE*** */






/* ***MEDIUM*** */

@media screen and (max-width: 768px){
    #footer> .container{
        max-width: 768px;
        gap: 0px;
    }


}
    



/* ***SMALL*** */




/* *** X-SMALL*** */

@media screen and (max-width: 575px){

    #sidebar{
        width: 50px;

    }
    
    #header{
        width: calc(100% - 50px);
    }
}